<form>
  <fieldset>
    <legend>Hype Track Assignments</legend>
    <p>Assign a hype track sound to each player character. When a player character’s turn starts, the matching sound will play.</p>
    {{#if hasSounds}}
      {{#each playerCharacters as |actor|}}
        <div class="form-group">
          <label for="hype-{{actor.id}}">{{actor.name}}</label>
          <select name="{{actor.id}}" id="hype-{{actor.id}}">
            <option value="">None</option>
            {{#each ../sounds as |sound|}}
              <option value="{{sound.value}}" {{#ifEquals sound.value (lookup ../../assignments actor.id)}}selected{{/ifEquals}}>{{sound.name}}</option>
            {{/each}}
          </select>
        </div>
      {{/each}}
    {{else}}
      <p>No hype track sounds were found in the configured playlist.</p>
    {{/if}}
  </fieldset>
  <button type="submit">Save</button>
</form>