<form>
  <fieldset>
    <legend>Hype Track Assignment</legend>
    {{#each actors as |actor|}}
      <div class="form-group">
        <label>{{actor.name}}</label>
        <select name="{{actor.id}}">
          <option value="">None</option>
          {{#each ../sounds as |sound|}}
            <option value="{{sound.path}}" {{#ifEquals (lookup ../selectedPaths actor.id) sound.path}}selected{{/ifEquals}}>{{sound.name}}</option>
          {{/each}}
        </select>
        
      </div>
    {{/each}}
  </fieldset>
  <button type="submit">Save</button>
</form>